<div class="container">
  <div class="left border-bottom border-secondary my-5">
    <h1>Your bookings</h1>
    <% if current_user %>
      <%= link_to "book a crime", crimes_path, class: "btn btn-ghost m-4" %>
    <% else %>
      <%= link_to "book a crime", user_session_path, class: "btn btn-ghost m-4" %>
    <% end %>
    <div class="cards">
      <% @bookings.each do |booking|%>
        <%= link_to crime_path(booking.crime), style: 'text-decoration: none;' do %>
          <div class="card-trip d-flex flex-column mb-3">
            <%= image_tag("#{booking.crime.category}.jpg") %>
            <div class="card-trip-infos">
              <%# <div> %>
                <h2><%= booking.crime.category %></h2>
                <p> Created <%= booking.crime.created_at.day - Date.today.day %> <%= "day".pluralize(booking.crime.created_at.day - Date.new.day) %> ago</p>
                <br>
                <p> will be executed in <%= booking.date.day - Date.today.day %> <%= "day".pluralize(booking.date.day - Date.new.day) %></p>
                <br>
                <div class="cards-footer">
                  <%= "#{booking.crime.price}€" %>
                  <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" class="avatar-bordered" />
                </div>
              <%# </div> %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="right">
    <h1>Your offers</h1>
    <% if current_user %>
      <%= link_to "create a crime", new_crime_path, class: "btn btn-ghost m-4" %>
    <% else %>
      <%= link_to "create a crime", user_session_path, class: "btn btn-ghost m-4" %>
    <% end %>
    <div class="cards">
      <% @crimes.each do |crime|%>
        <%= link_to crime_path(crime), style: 'text-decoration: none;' do %>
          <div class="card-trip mb-3">
            <%= image_tag("#{crime.category}.jpg") %>
            <div class="card-trip-infos">
              <div>
                <h2><%= crime.category %></h2>
                <p> Created <%= crime.created_at.day - Date.today.day %> <%= "day".pluralize(crime.created_at.day - Date.new.day) %> ago</p>
                <br>
                <div class="badge-wrap">
                  <p><%= "#{crime.price}€" %></p>
                  <span class="badge">Your Crime</span>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
