<div class="container">
  <h1 class="mt-3">Crimes</h1>
  <%# <ul> %>
    <%# <% @crimes.each do |crime| %>
      <%# <li><%= "#{crime.category}, #{crime.description}"</li> %>
    <%# <% end %>
  <%# </ul> %>
  <div class="cards">
    <% @crimes.each do |crime|%>
      <div class="card-trip mb-3">
        <%= image_tag("#{crime.category}.jpg") %>
        <div class="card-trip-infos">
          <div>
            <div class="cards-header">
              <h2><%= crime.category %></h2>
            </div>
            <p><%= crime.description %></p>
            <%= crime.price %>
          </div>
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
        </div>
      </div>
    <% end %>
  </div>
</div>
