<div class="container">
  <h1 class="my-4">Crimes</h1>
  <%# <ul> %>
    <%# <% @crimes.each do |crime| %>
      <%# <li><%= "#{crime.category}, #{crime.description}"</li> %>
    <%# <% end %>
  <%# </ul> %>
  <div class="cards">
    <% @crimes.each do |crime|%>
      <%= link_to crime_path(crime), style: 'text-decoration: none;' do %>
        <div class="card-trip d-flex flex-column mb-3">
          <%= image_tag("#{crime.category}.jpg") %>
          <div class="card-trip-infos">
            <h2><%= crime.category %></h2>
            <br>
            <h5><%= crime.name %></h5>
            <p><%= crime.bio %></p>
            <br>
            <div class="cards-footer">
              <%= "#{crime.price}€" %>
              <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" class="avatar-bordered" />
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
