
<!--
<div class="container-fluid bg-dark text-light">
  <div class="row">
    <div class="col-md-8 px-0">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" class="img-fluid" alt="Crime image">
    </div>
    <div class="col-md-4">
      <div class="card bg-secondary my-4 mx-2">
        <div class="card-body">
          <h2 class="card-title text-light"><%= @crime.category %></h2>
          <p class="card-text"><%= @crime.description %></p>
          <p class="card-text text-light"><%= number_to_currency(@crime.price, unit: "$") %></p>
          <button class="btn btn-primary">Book now</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row my-4 mx-2">
    <div class="col-md-8">
      <h3 class="text-light">Description</h3>
      <p class="text-light"><%= @crime.description %></p>
    </div>
    <div class="col-md-4">
      <h3 class="text-light">Amenities</h3>
      <ul class="list-unstyled">
        <li class="text-light"><i class="fas fa-fw fa-check"></i> Free parking</li>
        <li class="text-light"><i class="fas fa-fw fa-check"></i> Wi-Fi</li>
        <li class="text-light"><i class="fas fa-fw fa-check"></i> Air conditioning</li>
        <li class="text-light"><i class="fas fa-fw fa-check"></i> Security cameras</li>
      </ul>
    </div>
  </div>
</div>
-->




<div class="container-card-info bg-dark p-3 text-light r">
  <div class="card-info" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1476370648495-3533f64427a2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTV8fGRhcmt8ZW58MHx8MHx8&w=1000&q=80)">
  </div>


  <div class="d-flex">
    <div class="card-body m-3" >
      <h2>* * * * * * * * * *</h2>
      <h2 class="card-title text-light"><%= @crime.category %></h2>
      <p class="card-text"><%= @crime.description %></p>
    </div>


    <p class="card-text text-light m-3"><%= number_to_currency(@crime.price, unit: "$") %></p>
    <button class="btn btn-primary">Book now</button>
  </div>

</div>
